<div class="pagination justify-content-center">
    <%= will_paginate(objectArticles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
</div>

    <% objectArticles.each do |article| %>
    <div class="my-5">
      <div class="card my-5">
        <div class="card-header menu-color text-white"> <strong><%= article.title %></strong></div>
        <div class="card-body">
        <p class="card-text"><%= article.description %></p>
        
          <% if article.user %>
            <%= gravatar_image(article.user.email) %>

          <p><small> <strong>Created by:</strong>  <%= article.user.email %> , <%= time_ago_in_words( article.created_at )%> ago</small></p>

          <% end %>
        <p>
           <!--Show-->
           <%= link_to 'Show', article, class:"btn btn-outline-success bi-eye-fill" %>
            
            <!--Edit-->
           <%= link_to 'Edit', edit_article_path(article), class:"btn btn-outline-warning bi-pencil-square" %>
            
            <!--Destroy-->
           <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger bi-trash-fill" %>
           
           <%= link_to 'View his posts', userarticle_path(article.user.id), class:"btn btn-outline-success bi-eye-fill"%>
        </p>
     </div>
  </div>
    
 
 <% end %>

<%= link_to 'New Article', new_article_path , class:"btn btn-warning"%>

<div class="pagination justify-content-center">
    <%= will_paginate(objectArticles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-sm') %>
</div>