<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group my-2">
    <%= form.hidden_field :title, placeholder:"Title to your article", class:"form-control" %>
  </div>

  <div class="field form-group my-2">
    <%= form.text_field :title, placeholder:"Title to your article", class:"form-control" %>
  </div>

  <div class="field form-group my-2">
    <%= form.text_area  :description, placeholder:"Your article desciption", size: "70x5" , class:"form-control" %>
  </div>

  <div class="field form-check form-check-inline mr-1">

    <%= collection_check_boxes(:articles, :category_ids, Category.all, :id, :name_with_initial, class:" form-check-label mr-1") %>
  </div>


  <div class="actions form-group my-2">
    <%= form.submit class:"btn btn-success" %>
    <%= link_to 'Back to the articles', articles_path,  class:"btn btn-warning"%>
  </div>

<% end %>
