<main class="container col-lg-9 text-center">
<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger text-center">
        <h3><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h3>

        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
 
<% if flash.any? %>
  <% flash.each do |type, message| %>

  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <% end %>
<% end %>


  <div class="field form-group my-2">
    <%= form.hidden_field :title, placeholder:"Title to your article", class:"form-control" %>
  </div>

  <div class="field form-group my-2">
    <%= form.text_field :title, placeholder:"Title to your article", class:"form-control" %>
  </div>

  <div class="field form-group my-2 white">
    <%= form.rich_text_area  :description, placeholder:"Your article desciption", size: "70x5" , class:"form-control" %>
  </div>

  
  <br>
  <div class="field form-check form-check-inline ">
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <% cb.label(class:'form-check-label ') {cb.check_box(class:'form-check-input ') + cb.text } %>
    <% end %>  
  </div>


  <div class="actions form-group my-2">
    <%= form.submit class:"btn btn-success" %>
    <%= link_to 'Back to the articles', articles_path,  class:"btn btn-warning"%>
  </div>

<% end %>
</main>