<p id="notice"><%= notice %></p>


<div class="alert red lighten-3" role="alert">
  <% if @article.user%>
    <%= gravatar_image(@article.user.email)%>
  <% end %>
  <p>
  <h2>Title:</h2>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>  

  <%= link_to 'Edit', edit_article_path(@article),  class:"btn btn-info" %> 
  <%= link_to 'Back to the articles', articles_path,  class:"btn btn-warning"%>
</p>
</div>



