
<div class="my-5">
    <div class="card my-5">
      <div class="card-header menu-color text-white text-center"> <strong><%= @article.title %></strong></div>
      <div class="card-body">

        <% if @article.user %>  
          <div class="d-flex justify-content-center">
              <%= gravatar_image(@article.user.email) %>
          </div>

            <p class="text-center"> 
              <small> 
                <strong>Created by:</strong>  
                <%= @article.user.email %> , <%= time_ago_in_words( @article.created_at )%> ago
             </small>
            </p>

            <p class="card-text">
              <h3>Description:</h3> <%= @article.description %>
            </p>
        <% end %>
    

            <p>
              <strong>Comments</strong>
              <div id="comments">
              <%= render "articles/comments", article: @article %>
              <%= render "comments/new", article: @article%>
              </div>
            </p>
    </div>
  </div>
</div>
 
<p>  

  <%= link_to 'Edit', edit_article_path(@article),  class:"btn btn-info" %> 
  <%= link_to 'Back to the articles', articles_path,  class:"btn btn-warning"%>
</p>
</div>



