<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="form-signin">
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Your email username@exemple.com", class:"form-control", %>
    </div>

    <div class="d-grid gap-2 my-2">
      <%= f.submit "Resend unlock instructions", class: "btn btn-info" %>
    </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
